* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Yanone Kaffeesatz", sans-serif; }

h1, h2, h3 {
  font-family: "Redressed", cursive; }

.header {
  height: 100px;
  box-shadow: 0 2px 5px #0000004d;
  padding: 1rem;
  position: relative; }

.header__contenedor {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .header__contenedor .header__logo, .header__contenedor .imglogofoot, .header__contenedor .header__logo img {
    height: 100px;
    width: 100px; }
  .header__contenedor ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0; }

.navegacion .nav__lista {
  display: flex; }

.navegacion .nav__item {
  margin-left: 1rem; }

.navegacion .nav__link {
  color: #9a6bc5;
  text-decoration: none;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1rem;
  display: inline-block; }

.navegacion .nav__link:hover {
  color: #9a6bc5; }

.navegacion .nav__link--activo {
  background-color: #9a6bc5;
  color: #fff;
  border-radius: 5px; }

.navegacion .nav__link--activo:hover {
  color: #fff; }

a:link {
  color: #be18be; }

a:visited {
  color: orange; }

.grane .titulo__contenedor {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 3rem; }

.grane .titulo__principal {
  font-size: 50px; }

.grane .titulo__secundario {
  font-size: 60px;
  margin-bottom: 2rem; }

.footer__contenedor {
  max-width: 1200px;
  margin: 1rem;
  height: 100px;
  display: grid;
  grid-template-rows: 25% 25% 50%;
  margin: 0 auto;
  justify-content: center; }
  .footer__contenedor .footer__item {
    display: flex;
    justify-content: center; }
  .footer__contenedor .footer__social-media-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row; }
  .footer__contenedor .footer__social-media {
    height: 50%;
    width: auto;
    display: flex;
    justify-content: center; }

@media screen and (max-width: 1024px) {
  .header {
    height: auto; }
  .header__contenedor {
    flex-direction: column; }
  .grane__contenedor {
    flex-direction: column; }
  .col-4,
  .col-8 {
    width: 100%; }
  .merchandise {
    width: 100%; }
  .productos__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .footer__contenedor {
    flex-direction: column; } }

@media screen and (max-width: 600px) {
  .nav__lista {
    flex-wrap: wrap;
    gap: 20px; }
  .col-4,
  .col-8 {
    width: 100%; }
  .footer__social-media-wrapper {
    flex-direction: column; } }
