
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Yanone Kaffeesatz", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Redressed", cursive;
}

.bigicon {
  font-size: 35px;
  color: #9a6bc5;
}
.header {
  height: 100px;
  box-shadow: 0 2px 5px #0000004d;
  padding: 1rem;
  position: relative;
}

.header__contenedor {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo,
.imglogofoot {
  height: 100px;
  width: 100px;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.header__logo img,
.imglogofoot img {
  height: 100%;
  width: 100%;
}

.nav__lista {
  display: flex;
}

.nav__item {
  margin-left: 1rem;
}

.nav__link {
  color: #9a6bc5;
  text-decoration: none;
  letter-spacing: 0.1rem;
  padding: 0.5rem 1rem;
  display: inline-block;
}
.nav__link:hover {
  color: #9a6bc5;
}

.nav__link--activo {
  background-color: #9a6bc5;
  color: #fff;
  border-radius: 5px;
}
.nav__link--activo:hover {
  color: #fff;
}

main {
  background-image: url(../imagenes/fondoecofriend2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.titulo__contenedor {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.titulo__principal {
  font-size: 50px;
}

.titulo__secundario {
  font-size: 60px;
  margin-bottom: 2rem;
}


.grane {
  padding: 1rem 1rem;
  border: 2rem;
  border-style: double;
  border-color: #9a6bc5;
  margin: 0 auto;
}

.videograneleria {
  height: 100%;
  overflow: hidden;
  margin: 5rem;
  padding-bottom: 10%;
  margin-bottom: 20px;


}

.videograneleria iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}
.border {
  border: 100px solid; color: #23be51;
  border-radius: 2em;
}
iframe {
background-color: #23be51;
}
  
.img__dimention {
  max-width: 100%;
  height: 100%;
}

p {
font-size: larger;

}

.paragraph__color {
  background-color: rgba(245, 245, 220, 0.521);
  color: rgba(0, 0, 0, 0.685);
  
}

h5 {
  color: #23be51;
  font-weight: bolder;
  background-color: rgba(0, 0, 0, 0.527);
}

.color-graneleria-principal{
  color: #9a6bc5;
}

.footer__contenedor {
  max-width: 1200px;
  margin: 1rem;
  height: 100px;
  display: grid;
  grid-template-rows: 25% 25% 50%;
  margin: 0 auto;
  justify-content: center;

}

.footer__item {
  display: flex;
  justify-content: center;
}

.footer__social-media-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.footer__social-media {
  height: 50%;
  width: auto;
  display: flex;
  justify-content: center;
}


.footer__logo {
  height: 100%;
}

@media screen and (max-width: 1024px) {
  .header {
    height: auto;
  }

  .header__contenedor {
    flex-direction: column;
  }

  .grane__contenedor {
    flex-direction: column;
  }

  .col-4,
  .col-8 {
    width: 100%;
  }
.merchandise {
  width: 100%;
}
  .productos__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer__contenedor {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .nav__lista {
    flex-wrap: wrap;
    gap: 20px;
  }

  .col-4,
  .col-8 {
    width: 100%;
  }

.footer__social-media-wrapper {

flex-direction: column;

}

}