.grane .titulo__contenedor {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 3rem; }

.grane .titulo__principal {
  font-size: 50px; }

.grane .titulo__secundario {
  font-size: 60px;
  margin-bottom: 2rem; }
